<?xml version="1.0" encoding="UTF-8"?>
<!-- V6-ADD-005: 当時のSpring XML設定を表現する。 -->
<beans xmlns="http://www.springframework.org/schema/beans">
  <bean id="entryValidationService" class="com.legacysimulator.v06.EntryValidationService" />
  <bean id="cobolEntryFileGateway" class="com.legacysimulator.v06.CobolEntryFileGateway" />
  <bean id="batchLaneSelector" class="com.legacysimulator.v06.BatchLaneSelector" />
  <!-- V6-ADD-017: Java受付DBと業務トランザクションの構成。 -->
  <bean id="entryRepository" class="com.legacysimulator.v06.JdbcEntryRepository">
    <constructor-arg ref="entryDataSource" />
  </bean>
  <bean id="entryWorkflowService" class="com.legacysimulator.v06.EntryWorkflowService">
    <constructor-arg ref="entryValidationService" />
    <constructor-arg ref="entryRepository" />
    <constructor-arg ref="batchLaneSelector" />
  </bean>
  <bean id="cobolExportBatch" class="com.legacysimulator.v06.CobolExportBatch">
    <constructor-arg ref="entryRepository" />
    <constructor-arg ref="cobolEntryFileGateway" />
    <constructor-arg ref="batchLaneSelector" />
  </bean>
</beans>
